ConnectionStrings__DefaultConnection=Host=host;Username=username;Password=password;Database=database;Port=8000;SSL Mode=Require

Frontend__Url=http://localhost:3000

Jwt__ChaveSecreta=chave-secreta-jwt
Jwt__MinutosValidadeTokenAcesso=0

Email__SmtpHost=email.com
Email__SmtpPort=100
Email__Email=email@email.com
Email__Senha=senha

PlantNet__ChaveApi=chave-api

Trefle__ChaveApi=chave-api

Gemini__Provider=gemini
Gemini__ChavesApi=chave-api
Gemini__Modelo=modelo
Gemini__BaseUrl=https://url.com
Gemini__MaxOutputTokens=0
Gemini__Temperature=0.0
Gemini__TopP=0.0

Supabase__Url=https://url.com
Supabase__ChavePublica=chave-publica

Admin__ChaveSecreta=chave-secreta